<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>トップ画面です</h1>
      <%= link_to 'スタートボタンです', new_event_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>